@import "./foundation.scss";


.a-mainTitle{ 
    font-family: $font;
    font-size: 33px;
}

.a-nomArtiste{
    font-size: 24px;
    font-family: $font;
    color: $white;
    background: $black;
    display: inline-block;
    padding: 5px 20px 5px 5px;  //padding : top right bottom left  / padding : top et bottom, right et left
    
}

.a-paysArtiste{
    font-size: 16px;
    font-family: $font;
    color: $white;
    background: $black; 
    display : inline-block;
    position: relative;
    padding : 5px 20px 5px 5px; 
} 

.a-boutonStation{
    font-family: $font;
    font-size: 16px;
    background: none;
    border-radius: 5px;
}